.marker {
  background-image: url('https://raw.githubusercontent.com/luongvuc0622i1/project-data/master/images/bus-stop-combo.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -25px;
}

.marker-green {
  background-image: url('https://raw.githubusercontent.com/luongvuc0622i1/project-data/master/images/bus-stop-green.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -25px;
}

.marker-red {
  background-image: url('https://raw.githubusercontent.com/luongvuc0622i1/project-data/master/images/bus-stop-red.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -25px;
}

.marker-all {
  background-image: url('https://raw.githubusercontent.com/luongvuc0622i1/project-data/master/images/node-combo.png');
  background-size: cover;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.marker-node {
  background-size: cover;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  cursor: pointer;
}

.marker-01-08-217 {
  background-image: url('https://raw.githubusercontent.com/luongvuc0622i1/project-data/master/images/01,08,217.png');
}

.marker-01-27 {
  background-image: url('https://raw.githubusercontent.com/luongvuc0622i1/project-data/master/images/01,27.png');
}

.marker-02-86-212 {
  background-image: url('https://raw.githubusercontent.com/luongvuc0622i1/project-data/master/images/02,86,212.png');
}

.marker-02-86 {
  background-image: url('https://raw.githubusercontent.com/luongvuc0622i1/project-data/master/images/02,86.png');
}

.marker-08-86 {
  background-image: url('https://raw.githubusercontent.com/luongvuc0622i1/project-data/master/images/08,86.png');
}

.marker-27-204 {
  background-image: url('https://raw.githubusercontent.com/luongvuc0622i1/project-data/master/images/27,204.png');
}

.marker-68-54-203 {
  background-image: url('https://raw.githubusercontent.com/luongvuc0622i1/project-data/master/images/68,54,203.png');
}

.marker-10-54-210 {
  background-image: url('https://raw.githubusercontent.com/luongvuc0622i1/project-data/master/images/10,54,210.png');
}