.header {
  width: 100%;
  height: 55px;
  background-color: #3e8e41;
}

.menu {
  background-color: #4CAF50; /* green */
  float: left;
}

.menu-on-computer {
  width: 380px;
}

.menu-on-phone-when-normal {
  width: 100%;
}

.menu-on-phone-when-click {
  display: none;
}

.custom-menu {
  display: inline-block;
  position: absolute;
  top: 50%;
  padding: 20px 5px;
  background-color: #4CAF50;
  border-radius: 0px 5px 5px 0px;
  color: #245326;
}

.group {
  background-color: #3e8e41;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  color: white;
  font-size: 16px;
}

.button {
  border: none;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 3px;
}

.button-normal {
  color: white;
}

.button:hover {
  background-color: #245326 !important;
}

.button-double {
  width: calc(100%/2);
}

.button-triple {
  width: calc(100%/3);
}

.button-quadruple {
  width: calc(100%/4);
}

.button-reply {
  background-color: white;
  color: #245326;
  float: right;
}

.button-reply:hover {
  color: white;
}

.button-route-or-station {
  width: 100%;
  margin: 2px 0;
  text-align: left;
  vertical-align: top;
  color: #3e8e41;
}

.button-route-or-station:hover {
  background-color: #3e8e41;
}

.button-go {
  float: left;
  padding: 6px !important;
  width: 50%;
  border-radius: 5px 0px 0px 5px !important;
}

.button-back {
  padding: 6px !important;
  width: 50%;
  border-radius: 0px 5px 5px 0px !important;
}

.list-button {
  height: calc(100vh - 55px - 148px);
  overflow: auto;
  margin-top: 10px;
}

i.fa-bus {
  font-size: 30px;
  float: left;
}

.list-button-route {
  position: absolute;
  bottom: 10px;
  left: 8px;
}

.list-button-route .button-stations {
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: .824em;
  cursor: pointer;
  float: left;
  margin: 2px;
  border-radius: 5px;
}

.input-text {
  height: 30px;
  width: -webkit-fill-available;
  border-radius: 3px;
  border: none;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 0px 0px 0px 10px;
}

::placeholder {
  color: white;
  font-size: 16px;
}

.group-detail {
  overflow: auto;
  height: calc(100vh - 55px - 176px);
}

.image {
  width: 100%;
  border-radius: 5px;
}

.map {
  height: calc(100vh - 55px);
  float: right;
  background-color: yellow;
  position: relative;
}

.map-on-computer {
  width: calc(100% - 380px);
}

.map-on-phone-when-normal {
  width: 0px;
  display: none;
}

.map-on-phone-when-click {
  width: 100%;
}